* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    list-style: none;
    font-family: 'NotoSans', '돋움', 'Dotum', '굴림', 'Gulim', AppleGothic, UnDotum, Arial, Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}
header{
  margin: 0 auto;
  width: 1400px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo{
  cursor: pointer;
}
/* 메뉴 위 검색 박스 */
.search_box{
  width: 600px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 20px;
  position: relative;
}
.search{
  width: 350px;
  height: 100%;
  border: 2px solid #003C83;
  border-radius : 50px;
  position: relative;
  box-sizing: content-box;
}
/* select 박스 */
#select_search{
  width: 130px;
  height: 100%;
  border: 0;
  padding: 0 10px;
  font-weight: bold;
  color: #334375;
  background-color: rgba(255,255,255,0);
}
/* 검색어 입력란 */
header #search_word{
  position: absolute;
  width: 150px;
  height: 100%;
  left: 140px;
  border: 0;
  font-weight: bold;
  color: #334375;
}
/* 돋보기 버튼 */
.search button{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #003C83;
  background-color: #003C83;
  position: absolute;
  top: -1px;
  right: -1px;
  background-image: url("image/icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
header button:hover{
  background-color: #081630;
}
/* 공공도서관 통합검색 */
.total_search{
  margin-left: 10px;
  margin-right: 50px;
  padding-top: 8px;
  color: #014183;
  font-size: 15px;
  font-family: "맑은 고딕";
  font-weight: bold;
  cursor: pointer;
}
/* 도서관포털, 통합예약포털 */
.portal ul{
  font-weight: bold;
  color: #4A4A61;
  margin-right: 0;
}
.portal ul li{
  margin: 0 15px;
  float: left;
}
.portal ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.portal ul li::marker{
  color: #043E8C;
}
/****** 탑 메뉴 ******/
#top_menu_back{
  width: 100%;
  height: 50px;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  margin: 0 auto;
}
#top_menu_back>div{
  width: 1400px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#top_menu{
  width: 95%;
  height: 100%;
  font-weight: bold;
  color: #4A4A61;
}
#top_menu>li{
  width: 12.5%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  float: left;
}
#top_menu>li:hover{
  cursor: pointer;
  color: #44B63C;
  font-weight: bolder;
}
/* 상단 오른쪽 3선 전체메뉴 */
#top_menu_back>div>div{
  width: 3%;
  height: 100%;
  cursor: pointer;
  padding-top: 7px;
}
#top_menu_back hr{
  width: 35px;
  border: 0;
  border-radius: 10px;
  height: 4px;
  margin: 6px 0;
  background: #17356E;
  padding-right: 0px;
}
#top_menu_back hr:nth-child(2){
  width: 27px;
  transition: .5s;
}
#top_menu_back>div>div:hover hr:nth-child(2){
  width: 35px;
}
/****** 탑 메뉴 호버시 뜨는 메인메뉴 ******/
#main_menu_back{
  width: 100%;
  height: 430px;
  background-color: #232323;
  display: none;
  position: absolute;
  z-index: 98;
}

/* 상세 메뉴 */
.detail_menu{
  width: 167px;
  height: 430px;
  position: absolute;
  color: #FFF;
  text-align: left;
  display:none;
  font-size: 13px;
  border-left: 0.5px solid white;
  z-index: 99;
}
.detail_menu:last-child{
  border-right: 0.5px solid white;
}
#top_menu>li:hover .detail_menu{
  background-color: #3662C2;
}
.detail_menu>li{
  padding: 5px 10px;
}
.detail_menu>li:first-child{
  padding-top: 20px;
}
.detail_menu>li:hover{
  color: #FAC63D;
  text-decoration-line: underline;
}
#container_back{
  width: 100%;
  height: 600px;
  background-color: #E2F0FF;
}
#container{
  width: 1400px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 3번째 라인 왼쪽박스 */
#imgSlide{
  width: 36%;
  height: 90%;
  position: relative;
}
.prev, .next{
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color:rgba(0,0,0,0.3);
  font-size: 3em;
  bottom: 0;
  z-index: 99;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}
.prev:hover, .next:hover{
  font-weight: bold;
  background-color:rgba(0,0,0,0.5);
  cursor: pointer;
}
.img img{
  width: 100%;
  height: calc(600px*0.9);
  position: absolute;
}
.off{
  opacity:0.2;
  cursor:default;
}
/* 3번째 라인 오른쪽 박스*/
#notice_box{
  width: 61%;
  height: 90%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  color: #4A4A61;
}
/* 3번째줄 오른쪽 박스 (휴관일, 이용시간, 행사안내) */
.guide{
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;
}
.guide > div{
  width: 32%;
  height: 100%;
  background-color: #FFF;
  padding: 25px;
  font-weight: bold;
  position: relative;
}
.guide h2{
  font-size: 1.2em;
}
.guide p{
  margin-top: 5px;
  font-size: 0.9rem;
  line-height: 1.1em;
  color: #666;
}
.guide span{
  margin-top: 35px;
  line-height: 25px;
  font-size: 0.7em;
  color: grey;
  display: flex;
}
.guide hr{
  width: 25px;
  height: 3px;
  border: 0;
  background-color: #000;
  margin-top: 9px;
  transition: .3s;
}
.guide img{
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.guide > div:hover{
  background-color: #B9E067;
  cursor: pointer;
}
.guide > div:hover hr{
  width: 40px;
  background-color: white;
}
.guide > div:hover span{
  color: white;
}
/* 공지사항, 독서문화행사, 추천도서 */
.notice_box{
  width: 100%;
  height: 62%;
  background-color: #FFF;
}
.tab_box{
  width: 100%;
  height: 20%;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
}
/* .notice{
  background-color: #003C83;
  color: #FFF;
} */
.tab_box > div{
  width: 31%;
  height: 100%;
  border: 1px solid lightgray;
  text-align: center;
  line-height: 65px;
  /* background-color: #F0F0F0; */
  cursor: pointer;
}
.tab_box > div:last-child{
  width: 7%;
  background-color: #FFF;
}
.notice > table{
  width: 100%;
  height: 80%;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
/* 4번째줄 배경박스 (원형 아이콘 링크) */
#middle_back{
  width: 100%;
  background-color: #FFF;
}
.middle{
  width: 1600px;
  height: 190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.side{
  width: 40px;
  height: 40px;
  background-color: #CACFD2 ;
  border-radius: 50%;
  font-size: 3em;
  text-align: center;
  line-height: 40px;
  color: #FFF;
}
.side:hover{
  background-color: #BBB;
  cursor: pointer;
}
.icon_slide{
  width: 1400px;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* border: 1px solid pink; */
}
/* 아이콘 링크 큰 박스 */
.icon_slide > div{
  width: calc(1400px/7);
  height: 190px;
  /* float: left; */
  position: absolute;
  text-align: center;
  transition: .4s;
}
/* 아이콘 링크 박스 호버 시 */
.icon_slide > div:hover{
  cursor: pointer;
}
.icon_slide > div:hover .circle{
  background-color: #E2F0FF;
}
.icon_slide > div:hover .circle>img{
  transform: scaleX(-1);
}
.icon_slide > div:hover .icon_slide span{
  color: #2966AD;
}
/* 원형 링크 아이콘 */
.icon_slide > div > div{
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: #F4F6F6;
  border-radius: 50%;
}
.icon_slide img{
  margin-top: 17px;
  transition: .3s;
}
.icon_slide span{
  font-size: 1em;
  color: #3f3f3f;
  font-weight: bold;
}
